@font-face {
  font-family: "SF Pro";
  src: url(font/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url(font/SF-Pro-Display-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro", Arial;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

nav {
  width: 30%;
}

nav ul,
nav li {
  display: flex;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 0;
  margin: 0;
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: #000;
}