@font-face {
  font-family: "SF Pro";
  src: url(font/SF-Pro-Display-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url(font/SF-Pro-Display-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro", Arial;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

nav {
  width: 500px;
}

nav ul,
nav li {
  padding: 0;
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  color: #f921ca;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo {
  padding: 0;
  margin: 0;
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

.background {
  background-image: url("images/women_background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.image {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.image p {
  font-size: 20px;
  color: #fff;
  width: 400px;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}

.image a {
  font-size: 20px;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #f921ca;
  border-radius: 25px;
  width: 280px;
}

.image a:hover {
  color: #fff;
  background-color: #fd3dd3;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text_1 {
  margin: 0;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 35px;
}

.text h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
}

.bar {
  width: 30%;
  height: 3px;
  background-color: #f921ca;
  margin-top: 10px;
  margin-bottom: 70px;
}

.text p {
  font-size: 20px;
  width: 90%;
  text-align: justify;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.text a {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0
}

.text a:hover {
  color: #f921ca;
}

.image_women {
  padding: 0;
  margin: 0;
}

.image_women img {
  object-fit: cover;
  width: 400px;
}

.text_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 70px;
}

.women_fitness {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topics {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.t2 {
  justify-content: flex-end;
}

.text_topics {
  margin-top: 75px;
  margin-bottom: 75px;
}

.text_topics h1 {
  font-size: 50px;
  color: #f921ca;
  margin: 0;
  margin-right: 10px;
}

.text_topics p {
  text-align: justify;
  width: 230px;
  margin: 0;
}

.image_women_fitness {
  margin-left: 20px;
  margin-right: 20px;
}

.image_women_fitness img {
  object-fit: cover;
  width: 500px;
}

.wf2 {
  flex-direction: row-reverse;
}

.text_topics #h1 {
  margin: 0;
  margin-left: 10px;
}

.men_fitness {
  background-image: url("images/men_background.jpg");
  background-position: center;
}

.boxes_plans {
  justify-content: space-evenly;
}

.men_fitness h1 {
  margin: 0;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
}

.box {
  background: #ffffff10;
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff30;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}

.bar_boxes {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.box h1 {
  font-size: 30px;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
}

#button {
  width: 200px;
  cursor: pointer;
  padding: 3px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  background-color: #ffffff20;
  border: 2px solid #fff;
}

#button:hover {
  background-color: #ffffff50;
  color: #f921ca;
  border: 2px solid #f921ca;
}

.text_3 {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text form {
  display: flex;
  flex-direction: column;
}

.login {
  width: auto;
  margin-left: 70px;
}

label {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

form {
  margin: 0;
  padding: 0;
  width: 290px;
}

.name,
.number,
.email {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
}

#tag_a {
  font-size: 16px;
  text-transform: none;
}

#tag_a:hover {
  color: #1E90FF;
  text-decoration: underline;
}

#button_login {
  font-size: 20px;
  color: #fff;
  border: 0;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f921ca;
  border-radius: 25px;
  width: 280px;
  cursor: pointer;
}

#button_login:hover {
  background-color: #fd3dd3;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1B1F23;
}

footer .text_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .text_footer img,
#link_github {
  object-fit: cover;
  width: 65px;
  height: 65px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.menu_moblie {
  position: absolute;
  right: 13px;
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.mm_line {
  height: 3px;
  background-color: #f921ca;
}


@media (max-width: 1100px) {
  .women_fitness {
    flex-direction: column;
  }

  .image_women_fitness img {
    width: 450px;
  }

  .topics {
    flex-direction: row;
    justify-content: space-between;
  }

  .boxes {
    width: 100%;
    justify-content: center;
  }

  .box {
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    width: 250px;
  }
}

@media (max-width: 1017px) {
  .text_1 {
    flex-direction: column;
    align-items: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  .name,
  .number,
  .email {
    width: 270px;
  }

  #button {
    font-size: 16px;
    width: 150px;
  }
}

@media (max-width: 778px) {
  .text h1 {
    font-size: 35px
  }

  .text p {
    font-size: 18px;
  }


  .text_3 {
    flex-direction: column;
    align-items: center;
  }

  .image_women {
    margin-bottom: 70px;
  }

  .login {
    margin: 0;
  }
}

@media(max-width: 600px) {

  .menu {
    width: 100%;
  }


  .logo a {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  nav li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  header {
    height: auto;
  }

  .menu_moblie {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image p {
    font-size: 18px;
    width: 350px;
  }

  .women_fitness {
    width: 100%;
    align-items: center;
  }

  .topics {
    flex-direction: column;
    align-items: center;
  }

  .image_women img {
    width: 300px;
  }

  .image_women_fitness img {
    width: 300px;
  }

  .image h1 {
    font-size: 30px;
  }

  .boxes {
    flex-direction: column;
  }

  .box {
    width: 100%;
    height: 200px;
    margin: 0;
    margin-bottom: 10px;
  }

  .box h1 {
    font-size: 20px;
  }

  .box ul {
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    padding-left: 20px;
  }

  footer p {
    font-size: 18px;
  }
}